body{
  background: #fcebaa;
  height: 100%;
  --scaleValue: 1;
  --widthScale: 1;
  --heightScale: 1;
  --offsetValue: 10;
  --mainContentTopMargin: 6.5;
  --mainContentLeftMargin: 27;
}
html{
  height: 100%;
}



th{
  color: #fcebaa;
}

.top-rectangle{
  width: 100%;
  height: 6%;
  z-index: 10;
  position: fixed;
  background: #e2b769;
  text-align: center;
  font-size: 3.5vh;
  text-color: #fcebaa;
}

.frame{
  text-align: center;
  position: relative;
  background: #000fff;
  width: 12.5%;
  height: 0%;
  cursor: pointer;

}
.frame:hover .i1{
  transform:scaleX(.8) scaleY(.8) scaleX(calc(var(--widthScale))) scaleY(calc(var(--heightScale)));
  -webkit-transform:scaleX(.8) scaleY(.8) scaleX(calc(var(--widthScale)))scaleY(calc(var(--heightScale)));
}
.frame:hover .i2{
  transform:scaleX(.8) scaleY(.8) scaleX(calc(var(--widthScale))) scaleY(calc(var(--heightScale)))  rotate(60deg);
  -webkit-transform:scaleX(.8) scaleY(.8) scaleX(calc(var(--widthScale)))scaleY(calc(var(--heightScale)))  rotate(60deg);
}
.frame:hover .i3{
  transform:scaleX(.8) scaleY(.8) scaleX(calc(var(--widthScale))) scaleY(calc(var(--heightScale)))  rotate(-60deg);
  -webkit-transform:scaleX(.8) scaleY(.8) scaleX(calc(var(--widthScale)))scaleY(calc(var(--heightScale)))  rotate(-60deg);
}


.non-scrollables{
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
}
.fb-image{
  position: relative;
  margin-left: 35px;
  top: 70px;
  width: 140px;
  height: 140px;
  z-index: 10;
  transition: all .4s;
  -webkit-transition: all .4s;
}
.frame:hover .fb-image{
  width: 120px;
  height: 120px;
  margin-left: 45px;
  top: 80px;
  transition: all .4s;
  -webkit-transition: all .4s;
}

.frame:hover .label{
  transform: scale(.9);
  -webkit-transform: scale(.9);
}
.vert-line{
  position: fixed;
  left: 0px;
  width: 0.4vw;
  height: 100%;
  background: #e2b769;
}

.hex-inner{

  position: relative;
  z-index: -1;
  background: #fcebaa;
  margin-top: inherit;
  margin-left: inherit;
  border-radius: 0;
  transition: all .2s;
  -webkit-transition: all .2s;
  border-radius: 3px;

}

.hex-outer{
  position: relative;
  z-index: -2;
  background: #e2b769;
  margin-top: inherit;
  margin-left: inherit;
  transition: all .2s;
  -webkit-transition: all .2s;

}

.h1{
  position: fixed;
  transform-origin: center;
  width: 242.5px;
  height: 140px;
  transform: scaleX(calc(var(--widthScale))) scaleY(calc(var(--heightScale)));
  -webkit-transform:scaleX(calc(var(--widthScale)))scaleY(calc(var(--heightScale)));
  top: calc(1px * var(--yOffsetValue));
  left: calc(1px * var(--offsetValue));

}

.h2{
  visibility: visible;
  position: fixed;
  transform-origin: center;
  top:inherit;
  width: 242.5px;
  height: 140px;
  transform: scaleX(calc(var(--widthScale))) scaleY(calc(var(--heightScale)))  rotate(60deg);
  -webkit-transform:scaleX(calc(var(--widthScale)))scaleY(calc(var(--heightScale)))  rotate(60deg);
  top: calc(1px * var(--yOffsetValue));
  left: calc(1px * var(--offsetValue));
}

.h3{
  visibility: visible;
  position: fixed;
  origin:center;
  transform-origin: center;
  top:inherit;
  width: 242.5px;
  height: 140px;
  transform: scaleX(calc(var(--widthScale))) scaleY(calc(var(--heightScale)))  rotate(-60deg);
  -webkit-transform:scaleX(calc(var(--widthScale)))scaleY(calc(var(--heightScale)))  rotate(-60deg);
  top: calc(1px * var(--yOffsetValue));
  left: calc(1px * var(--offsetValue));
}

.i1{
  position: fixed;
  transform-origin: center;
  width: 242.5px;
  height: 140px;
  transform:scaleX(.95) scaleY(.95) scaleX(calc(var(--widthScale))) scaleY(calc(var(--heightScale)));
  -webkit-transform:scaleX(.95) scaleY(.95) scaleX(calc(var(--widthScale)))scaleY(calc(var(--heightScale)));
  top: calc(1px * var(--yOffsetValue));
  left: calc(1px * var(--offsetValue));

}

.i2{
  visibility: visible;
  position: fixed;
  transform-origin: center;
  top:inherit;
  width: 242.5px;
  height: 140px;
  transform: scaleX(.95) scaleY(.95) scaleX(calc(var(--widthScale))) scaleY(calc(var(--heightScale)))  rotate(60deg);
  -webkit-transform: scaleX(.95) scaleY(.95) scaleX(calc(var(--widthScale)))scaleY(calc(var(--heightScale)))  rotate(60deg);
  top: calc(1px * var(--yOffsetValue));
  left: calc(1px * var(--offsetValue));
}

.i3{
  visibility: visible;
  position: fixed;
  origin:center;
  transform-origin: center;
  top:inherit;
  width: 242.5px;
  height: 140px;
  transform:scaleX(.95) scaleY(.95) scaleX(calc(var(--widthScale))) scaleY(calc(var(--heightScale)))  rotate(-60deg);
  -webkit-transform:scaleX(.95) scaleY(.95) scaleX(calc(var(--widthScale)))scaleY(calc(var(--heightScale)))  rotate(-60deg);
  top: calc(1px * var(--yOffsetValue));
  left: calc(1px * var(--offsetValue));
}

.label{
  z-index: 0;
  text-align: center;
  position: fixed;
  color: #e2b769;
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
  left: 0%;
  top: 0%;
  transition: all .2s;
  -webkit-transition: all .2s;
}

.scrollable{
  margin-left: calc(1vw * var(--mainContentLeftMargin));
  margin-top: calc(1vh * var(--mainContentTopMargin));
}
.scrollable h1{
  font-size: 4vh;
  text-align: left;
}
.scrollable p{
  margin-top: 3%;
  font-size: 3vh;
}
.dropdown button{
  background: #fcebaa;
  border: #fcebaa;
  color: #000000;

}
